# ---------- App ----------
APP_ENV="" # "dev" or "prod"
APP_LOGO_URL=""

# ---------- Client ----------
CLIENT_HOST=""
CLIENT_PORT=

# ---------- Gateway Service ----------
GATEWAY_SERVICE_HOST=""
GATEWAY_SERVICE_PORT=
GATEWAY_SERVICE_TIMEOUT_READ=""
GATEWAY_SERVICE_TIMEOUT_WRITE=""
GATEWAY_SERVICE_TIMEOUT_SHUTDOWN=""

# ---------- Auth Service ----------
AUTH_SERVICE_HOST=""
AUTH_SERVICE_PORT=
AUTH_SERVICE_TIMEOUT_SHUTDOWN=""
AUTH_BCRYPT_COST=
AUTH_JWT_ISSUER=""
AUTH_JWT_SECRET=""
AUTH_JWT_DURATION=""
AUTH_DURATION_SESSION=""
AUTH_DURATION_VERIFICATION=""

# ---------- Auth Database ----------
AUTH_DATABASE_HOST=""
AUTH_DATABASE_PORT=
AUTH_DATABASE_USER=""
AUTH_DATABASE_PASS=""
AUTH_DATABASE_NAME=""
AUTH_DATABASE_SSL_MODE=""
AUTH_DATABASE_MAX_CONNS=
AUTH_DATABASE_MIN_CONNS=
AUTH_DATABASE_MAX_CONN_LIFETIME=""
AUTH_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- Auth Cache ----------
AUTH_CACHE_HOST=""
AUTH_CACHE_PORT=
AUTH_CACHE_PASS=""
AUTH_CACHE_POOL_SIZE=
AUTH_CACHE_MIN_IDLE_CONNS=
AUTH_CACHE_MAX_ACTIVE_CONNS=
AUTH_CACHE_CONN_MAX_LIFETIME=""
AUTH_CACHE_CONN_MAX_IDLE_TIME=""
AUTH_CACHE_TIMEOUT_DIAL=""
AUTH_CACHE_TIMEOUT_READ=""
AUTH_CACHE_TIMEOUT_WRITE=""

# ---------- User Service ----------
USER_SERVICE_HOST=""
USER_SERVICE_PORT=
USER_SERVICE_TIMEOUT_SHUTDOWN=""

# ---------- User Database ----------
USER_DATABASE_HOST=""
USER_DATABASE_PORT=
USER_DATABASE_USER=""
USER_DATABASE_PASS=""
USER_DATABASE_NAME=""
USER_DATABASE_SSL_MODE=""
USER_DATABASE_MAX_CONNS=
USER_DATABASE_MIN_CONNS=
USER_DATABASE_MAX_CONN_LIFETIME=""
USER_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- School Service ----------
SCHOOL_SERVICE_HOST=""
SCHOOL_SERVICE_PORT=
SCHOOL_SERVICE_TIMEOUT_SHUTDOWN=""

# ---------- School Database ----------
SCHOOL_DATABASE_HOST=""
SCHOOL_DATABASE_PORT=
SCHOOL_DATABASE_USER=""
SCHOOL_DATABASE_PASS=""
SCHOOL_DATABASE_NAME=""
SCHOOL_DATABASE_SSL_MODE=""
SCHOOL_DATABASE_MAX_CONNS=
SCHOOL_DATABASE_MIN_CONNS=
SCHOOL_DATABASE_MAX_CONN_LIFETIME=""
SCHOOL_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- Notification Service ----------
NOTIFICATION_SERVICE_HOST=""

# ---------- Notification Database ----------
NOTIFICATION_DATABASE_HOST=""
NOTIFICATION_DATABASE_PORT=
NOTIFICATION_DATABASE_USER=""
NOTIFICATION_DATABASE_PASS=""
NOTIFICATION_DATABASE_NAME=""
NOTIFICATION_DATABASE_SSL_MODE=""
NOTIFICATION_DATABASE_MAX_CONNS=
NOTIFICATION_DATABASE_MIN_CONNS=
NOTIFICATION_DATABASE_MAX_CONN_LIFETIME=""
NOTIFICATION_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- Broker ----------
BROKER_1_HOST=""
BROKER_2_HOST=""
BROKER_3_HOST=""
BROKER_RANDOM_STABLE_ID=""
BROKER_BROKERS=""

# ---------- Broker Publishers ----------
BROKER_PUBLISHER_AUTH_CREATED_NAME=""
BROKER_PUBLISHER_AUTH_CREATED_BATCH_SIZE=
BROKER_PUBLISHER_AUTH_CREATED_BATCH_TIMEOUT=""
BROKER_PUBLISHER_AUTH_VERIFICATION_REQUESTED_NAME=""
BROKER_PUBLISHER_AUTH_VERIFICATION_REQUESTED_BATCH_SIZE=
BROKER_PUBLISHER_AUTH_VERIFICATION_REQUESTED_BATCH_TIMEOUT=""

# ---------- Broker Subscribers ----------
BROKER_SUBSCRIBER_AUTH_CREATED_NAME=""
BROKER_SUBSCRIBER_AUTH_CREATED_MAX_BYTES=
BROKER_SUBSCRIBER_AUTH_CREATED_MAX_WAIT=""
BROKER_SUBSCRIBER_AUTH_CREATED_COMMIT_INTERVAL=""
BROKER_SUBSCRIBER_AUTH_CREATED_PROCESS_TIMEOUT=""
BROKER_SUBSCRIBER_AUTH_VERIFICATION_REQUESTED_NAME=""
BROKER_SUBSCRIBER_AUTH_VERIFICATION_REQUESTED_MAX_BYTES=
BROKER_SUBSCRIBER_AUTH_VERIFICATION_REQUESTED_MAX_WAIT=""
BROKER_SUBSCRIBER_AUTH_VERIFICATION_REQUESTED_COMMIT_INTERVAL=""
BROKER_SUBSCRIBER_AUTH_VERIFICATION_REQUESTED_PROCESS_TIMEOUT=""

# ---------- Tracer ----------
TRACER_HOST=""
TRACER_GRPC_PORT=
TRACER_HTTP_PORT=
TRACER_WEB_UI_PORT=

# ---------- Mailer ----------
MAILER_HOST=""
MAILER_PORT=
MAILER_USER=""
MAILER_PASS=""
MAILER_FROM=""
MAILER_TIMEOUT=""
