# ---------- App ----------
APP_ENV="" # "dev" or "prod"

# ---------- Auth Service ----------
AUTH_SERVICE_HOST=""
AUTH_SERVICE_PORT=
AUTH_SERVICE_TIMEOUT_SHUTDOWN=""
AUTH_BCRYPT_COST=
AUTH_JWT_ISSUER=""
AUTH_JWT_SECRET=""
AUTH_JWT_DURATION=""
AUTH_DURATION_SESSION=""

# ---------- Auth Database ----------
AUTH_DATABASE_HOST=""
AUTH_DATABASE_PORT=
AUTH_DATABASE_USER=""
AUTH_DATABASE_PASS=""
AUTH_DATABASE_NAME=""
AUTH_DATABASE_SSL_MODE=""
AUTH_DATABASE_MAX_CONNS=
AUTH_DATABASE_MIN_CONNS=
AUTH_DATABASE_MAX_CONN_LIFETIME=""
AUTH_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- User Service ----------
USER_SERVICE_HOST=""
USER_SERVICE_PORT=
USER_SERVICE_TIMEOUT_SHUTDOWN=""

# ---------- User Database ----------
USER_DATABASE_HOST=""
USER_DATABASE_PORT=
USER_DATABASE_USER=""
USER_DATABASE_PASS=""
USER_DATABASE_NAME=""
USER_DATABASE_SSL_MODE=""
USER_DATABASE_MAX_CONNS=
USER_DATABASE_MIN_CONNS=
USER_DATABASE_MAX_CONN_LIFETIME=""
USER_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- School Database ----------
SCHOOL_DATABASE_HOST=""
SCHOOL_DATABASE_PORT=
SCHOOL_DATABASE_USER=""
SCHOOL_DATABASE_PASS=""
SCHOOL_DATABASE_NAME=""
SCHOOL_DATABASE_SSL_MODE=""

# ---------- Tracer ----------
TRACER_HOST=""
TRACER_GRPC_PORT=
TRACER_HTTP_PORT=
TRACER_WEB_UI_PORT=
