{{ define "signature" }}
<p
  style="
    margin: 0 0 8px;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
  "
>
  The KlassHub Team
</p>
<img
  src="{{ .LogoURL }}"
  alt="KlassHub Logo"
  style="height: 50px; margin-bottom: 24px; display: block"
/>
{{ end }}
